<div>
    <h2>Registration From</h2>
    
    <form [formGroup]="reactiveFrom" (ngSubmit) = "onSubmit()" >
        <label for="firstname">FirstName:</label>
        <input type="text" id="firstname" placeholder="First Name" formControlName="firstname" />
        <br>
        <label for="lastname">LastName:</label>
        <input type="text" id="lastname" placeholder="Last Name" formControlName="lastname"/>
        <br>
        <label for="email">Email: </label>
        <input type="email" id="email" placeholder="Email" formControlName="email"/>
        <br>
        <label for="country">Country</label>
        <select id="country" formControlName="country">
            <option value="UK">UK</option>
            <option value="USA">USA</option>
            <option value="india">India</option>
        </select>
        <br>
        <label for="gender">Gender</label>
        <input type="radio" id="male" value="male" formControlName="gender"/>
        <label for="male">Male</label>
        <input type="radio" id="female" value="female" formControlName="gender"/>
        <label for="female">Female</label>
        <input type="radio" id="other" value="other" formControlName="gender"/>
        <label for="other"> Other </label>
        <br>
        <label>Hobbies:</label>
        <br>
        <label><input type="checkbox" id="sports" value="sports" formControlName="hobbies" >Sports</label>
        <label><input type="checkbox" id="movies" value="movies" formControlName="hobbies">Movies</label>
        <label><input type="checkbox" id="songs" value="songs" formControlName="hobbies" >Songs</label>
        <br>
        <input type="submit" value="submit" id="submitbtn">
    </form>
</div>