<!-- <a [routerLink]="['/home']">Home</a><br/>
<a [routerLink]="['/course']">Course</a><br/>
<a [routerLink]="['/contact']">Contact</a><br/>
<a [routerLink]="['/about']">About</a><br/>
<a [routerLink]="['/registration']">Registration</a><br/> -->


<!-- <app-home></app-home><br/>
<app-course></app-course><br/>
<app-contact></app-contact><br/>
<app-about></app-about> -->

<!-- <router-outlet></router-outlet> -->

<!-- <h1>Patren {{title}} </h1>
<p>From Contact Child Message : {{childMessage}} </p>
<p>From Course Child Message : {{fromCourse}} </p>
<app-about [childVar] = "parentVar"></app-about>
<app-course (msgEvent) = "receive($event)" ></app-course> -->

<!-- <a href="/about">Click</a><br>
<a routerLink="/about">Click</a>
<ul *ngFor="let item of arr">
    <li>
      <a [routerLink] = "item" >{{item}} </a>
    </li>
</ul> -->

<!-- <app-home></app-home><br/>
<app-course></app-course><br/>
<app-contact></app-contact><br/>
<app-about></app-about>  -->
<app-ar-comp></app-ar-comp>
<router-outlet></router-outlet>